extends ../_template.pug

append variables
	-var title = 'Home page';
	-var pageClass = 'home';



block content
	header#header.header
		.header__owerlay
		.container
			.row
				.top-line
					a.site-logo.top-line__site-logo(href="/")
						+icon('site-logo','site-logo__icon')
					nav.main-menu
						ul.main-menu__list
							a.main-menu__item(href="/") Item
							a.main-menu__item(href="/") Item
							a.main-menu__item(href="/") Item
							a.main-menu__item(href="/") Item
							a.main-menu__item(href="/") Item
					.site-phone
					a.hamburger(href="#mobile-menu")
						+icon('menu','hamburger__icon')
	include ../includes/scroll-to-top.pug